* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

:root {
  --color__vue-green: #4fc08d;
  --color__grey: #ddd;
  --color__dark-grey: #747474;
}

a {
  text-decoration: none;
  color: var(--color__dark-grey);
}

a:hover {
  color: var(--color__vue-green);
}

.app {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input,
.button {
  padding: 4px;
  font-size: 12px;
  outline: none;
}

.input {
  border: 1px solid var(--color__grey);
}

.button {
  border: 0;
  background-color: var(--color__vue-green);
  color: white;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.app__results {
  max-height: 70vh;
  overflow: scroll;
}

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.results-list__result {
  width: 95%; /* so overflow doesn't clip the shadow */
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card__image {
  max-width: 80px;
}

.card__title {
  margin-left: 16px;
  max-width: 70%;
}
